.header
  .header__inner
    .header__inner__logo
      = link_to "クリ★スタ", "#"
    .header__inner__nav
      %ul.menu
        %li.menu-item
          = link_to "About", "#"
        %li.menu-item
          = link_to "Service", "#"
        %li.menu-item
          = link_to "Contents", "#"
.fv
  %p.main-copy Cresta Design.